<section
  class="h-full max-w-full md:w-screen md:pl-32 px-4 sm:px-8 md:px-12 py-8"
  *ngIf="trendingMovies$ | async as movies"
>
  <section>
    <div class="flex gap-4 items-center">
      <img src="assets/images/icon-search.svg" alt="search icon" />
      <form [formGroup]="searchForm">
        <input
          type="text"
          formControlName="search"
          class="bg-dark-blue placeholder:text-slate-100 sm:placeholder:text-hm placeholder:font-thin sm:w-full focus:outline-none text-white sm:text-hm caret-red"
          placeholder="Search for movies or TV series "
        />
      </form>
    </div>

    <!--Search Results-->
    @if (showSearchPanel) {
      <ng-content *ngIf="searchResults$ | async as RecMovies; else Loader">
        <h1 class="text-white text-hl my-4">Found {{ RecMovies.length }}</h1>

        <div
          class="grid grid-cols-2 sm:grid-cols-3 gap-2 md:grid-cols-4 min-h-screen"
        >
          @for (movie of RecMovies; track $index) {
            <app-small-card [movie]="movie"></app-small-card>
          }
        </div>
      </ng-content>
      <ng-template #Loader>
        <section class="w-full min-h-screen flex items-center justify-center">
          <div class="loader"></div>
        </section>
      </ng-template>
    }
  </section>
  @if (!showSearchPanel) {
    @if (trendingError$ | async) {
      <h1 class="text-white text-hl my-4">Trending</h1>

      <h1 class="text-bm text-white my-8">
        Sorry. Couldn't get you trending Movies And Tv Shows
      </h1>
    } @else {
      <h1 class="text-white text-hl my-4">Trending</h1>
      <div class="flex max-w-full overflow-x-scroll hide-scroll-bar gap-4">
        @for (movie of movies; track $index) {
          <app-card [movie]="movie"></app-card>
        }
      </div>
    }
    @if (recError$ | async) {
      <h1 class="text-white text-hl my-4">Recommended</h1>

      <h1 class="text-bm text-white my-8">
        Sorry. Couldn't get you Recommended Movies and Tv Shows
      </h1>
    } @else {
      <h1 class="text-white text-hl my-4">Recommended</h1>
      <ng-content *ngIf="recommendedMovies$ | async as RecMovies">
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-2 md:grid-cols-4">
          @for (movie of RecMovies; track $index) {
            <app-small-card [movie]="movie"></app-small-card>
          }
        </div>
      </ng-content>
    }
  }
</section>
